.footer {
  background-color: white;
  color: black;
  padding: 25px 20px 10px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.footer-logo {
  flex: 1;
  min-width: 250px;
}
.footer-logo img {
  height: 100px;
  width: 100px;
  margin-bottom: -20px;
}
.footer-logo p {
  font-size: 14px;
  line-height: 1.5;
  color: black;
}

.footer-links {
  flex: 1;
  min-width: 200px;
}
.footer-links h4 {
  margin-bottom: 15px;
  font-size: 18px;
}
.footer-links a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 8px;
  transition: 0.3s;
}

.footer-contact {
  flex: 1;
  min-width: 250px;
}
.footer-contact h4 {
  margin-bottom: 15px;
  font-size: 18px;
}
.footer-contact p {
  margin: 5px 0;
  font-size: 14px;
  color: black;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 13px;
  color: black;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
